body {
    background-color: #1b4b3d; /* Color te papa green */
    color: #fdf5e6; /* Color old lace */
    margin: 15px 5px 10px 0px;
}

.mano-cartas {
    height: 200px;
    margin: 14px 0px 54px 0px;
}

.img-carta {
    position: relative;
    width: 125px;
    left: 90px;
    margin-left: -70px;
    top: 140px;
    margin-top: -140px;
    rotate: 10deg;
}

.btn:disabled {
    cursor: not-allowed;
}

.fondo-difuminado {
    background-color: #1b4b3d;
    padding-bottom: 5rem;
    margin-bottom: -5rem;
    box-shadow: 16px 12px 10px 24px #1b4b3d;
}