body {
    background-color: #1b4b3d; /* Color te papa green */
    color: #fdf5e6; /* Color old lace */
    margin: 15px 0px;
}

.mano-cartas {
    height: 240px;
    margin: 0px 0px 15px 0px;
    padding: 10px 0px 0px 14px;
    display: flex;
    overflow-x: auto;
    box-sizing: border-box;
    align-items: flex-start;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.img-carta {
    width: 125px;
    margin-left: -69px;
    rotate: 10deg;
    flex: 0 0 auto;
    scroll-snap-align: start;
}

.img-carta:first-child {
    margin-left: 0px;
}

.btn:disabled {
    cursor: not-allowed;
}

#dialogoInfo {
    border-width: 1px;
    border-radius: .5rem;
    background-color: #fdf5e6;
}

#dialogoInfo::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}